
html,
body,
#app {
  height: 100%;
}

.round-btn {
  @apply w-8 h-8 flex justify-center items-center cursor-pointer rounded-full;
}
.round-btn-blue {
  @apply bg-blue-500 text-white hover:bg-blue-600;
}
.round-btn-static {
  @apply hover:bg-gray-100 text-gray-500;
}

.sidebar  {
  ul.show {
    @apply max-h-80;
  }
  &.mini {
    ul.show {
      @apply max-h-0;
    }
    &:hover {
      ul.show {
        @apply max-h-80;
      }
    }
  }
}

.tab {
  @apply w-32 h-9 flex items-center justify-center bg-gray-200 text-gray-500 rounded-full cursor-pointer;
  &.active {
    @apply bg-blue-500 text-white
  }
}

.el-radio {
  @apply mr-3
}


.el-form-item__label {
  @apply leading-5
}

.msg-arrow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.75rem;
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-right-color: #e4e8eb;
  border-left: 0;
  border-top: 0;
  margin-left: -0.375rem;
}

// .msg-review-box {
//   @apply bg-gray-200 rounded-xl text-gray-600 py-1 px-2 relative mt-1 whitespace-pre-wrap break-words
// }


.bg-mobile {
  background-image: url('@/assets/mobile.png');
}

.border-box {
  @apply border border-blue-300/60
}

.border-box.active {
  @apply text-white bg-blue-300/60
}

.el-button+.el-button {
  @apply ml-0
}


.grid-box-num {
  @apply absolute
    top-0
    left-0
    -ml-2
    -mt-2
    bg-yellow-500
    text-white
    w-5
    h-5
    flex
    justify-center
    items-center
    rounded-full
}

.ctrl-btn {
  @apply bg-blue-500
  text-white
  hover:bg-blue-400
  w-9
  h-9
  rounded-sm
  flex
  items-center
  justify-center
  cursor-pointer
}
