
html,
body,
#app {
  height: 100%;
}

.round-btn {
  @apply w-8 h-8 flex justify-center items-center cursor-pointer rounded-full;
}
.round-btn-blue {
  @apply bg-primary-500 text-white hover:bg-primary-600;
}
.round-btn-static {
  @apply hover:bg-gray-100 text-gray-500;
}

.sidebar  {
  ul.show {
    @apply max-h-80;
  }
  .float-sub {
    @apply hidden;
  }
  &.mini {
    ul.show {
      @apply max-h-0;
    }
    // &:hover {
    //   ul.show {
    //     @apply max-h-80;
    //   }
    // }

    .menu-item {
      &:hover {
        .float-sub {
          @apply block
        }
      }
    }
  }
}

.tab {
  @apply w-32 h-9 flex items-center justify-center bg-gray-200 text-gray-500 rounded-full cursor-pointer;
  &.active {
    @apply bg-primary-500 text-white
  }
}

.el-radio {
  @apply mr-3
}


.el-form-item__label {
  @apply leading-5
}

.msg-arrow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.75rem;
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-right-color: #e4e8eb;
  border-left: 0;
  border-top: 0;
  margin-left: -0.375rem;
}

// .msg-review-box {
//   @apply bg-gray-200 rounded-xl text-gray-600 py-1 px-2 relative mt-1 whitespace-pre-wrap break-words
// }


.bg-mobile {
  background-image: url('@/assets/mobile.png');
}

.border-box {
  @apply border border-primary-300/60
}

.border-box.active {
  @apply text-white bg-primary-300/60
}

.el-button+.el-button {
  @apply ml-0
}


.grid-box-num {
  @apply absolute
    top-0
    left-0
    -ml-2
    -mt-2
    bg-secondary-500
    text-white
    w-5
    h-5
    flex
    justify-center
    items-center
    rounded-full
}

.ctrl-btn {
  @apply bg-white
  text-gray-800
  border border-gray-300
  rounded-full
  w-10
  h-10
  flex
  items-center
  justify-center
  cursor-pointer
  hover:bg-gray-50
}

.breadcrumb > li {
  @apply after:content-['/'] last-of-type:after:content-[''];
  &::after {
    @apply inline-block px-2.5 text-primary-400;
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.el-form-item {
  margin-bottom: 10px;
}

.help {
  @apply text-xs text-primary-400 mt-2 leading-4;
  &.info {
    &::before {
      font-family: "FontAwesome";
      content: "\f05a";
      display: inline-block;
      margin-right: 0.1rem;
    }
  }
}
.bg-primary-gradient {
  @apply bg-gradient-to-br from-primary-500 to-primary-700
}


.form-control {
  @apply appearance-none border rounded py-2 px-3 text-gray-700 leading-tight
}

.r-circle {
  @apply bg-white
  border border-gray-300
  w-6
  h-6
  rounded-full
  grid
  place-content-center
  text-gray-500 text-xs
  cursor-pointer
}
